{
  "presets": [
    {
      plugins: [
        ["module-alias", [
          { "src": "./test", "expose": "@test"},
          { "src": "./src/modules", "expose": "@modules"},
          { "src": "./src/components", "expose": "@components"},
          { "src": "./src/redux", "expose": "@redux"},
          { "src": "./src/utils", "expose": "@utils"}
        ]]
      ]
    },
    "react-native"
  ]
}