.card {
  display: inline-block;
  margin: 0 1rem 1rem 0;
  width: calc(100% - 1rem);

  @media (min-width: 600px) and (max-width: 799px) {
    width: calc((100%) / 2 - 1rem);
  }

  @media (min-width: 800px) and (max-width: 1023px) {
    width: calc((100%) / 3 - 1rem);

    &:nth-child(3n+3) {
      margin: 0 0 1rem 0;
    }
  }

  @media (min-width: 1024px) {
    width: calc((100%) / 4 - 1rem);

    &:nth-child(4n+4) {
      margin: 0 0 1rem 0;
    }
  }


  &:hover {
    transform: perspective(100vh) rotateX(10deg);
  }

  &-container {
    width: 100%;
    background: white;
    border-radius: 2px;
    box-shadow: 0px 3px 5px rgba(0,0,0,.1);
    display: flex;

    .card-image-container {
      width: 128px;
      height: 128px;
      background: #efefef;

      .card-image {
        border-radius: 2px 0 0 2px;
        width: 128px;
        height: 128px;
      }
    }

    .card-content-container {
      flex: 1;
      padding: 1rem;
    }
  }

  &-title {
    font-size: 1rem;
    color: #8bc34a;
    text-decoration: none;
    margin-bottom: .5rem;
    text-transform: capitalize;
  }

  &-subtitle {
    font-size: .8rem;
    color: rgba(0,0,0,.54);
    text-transform: capitalize;
  }
}
