.loading-indicator-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .spinner {
    border: 3px solid rgba(0,0,0,.12);
    border-bottom: 3px solid transparent;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    animation-duration: 1s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
